= link_to "Sign Out", destroy_user_session_path

div.sm2-inline-list
  div.ui360.ui360-vis
    = link_to '', '#', id: 'now-playing', data: {duration: 0}
div
  = link_to 'Next Track', '#', id: 'next-track'

javascript:
  $(document).ready(function(){
    setTimeout(function(){
      var nextTrackLoader;
      var lastFmRecommender = new window.LastFmRecommender(function(){
        nextTrackLoader = new window.NextTrackLoader($('#now-playing'), $('.sm2-cover'), threeSixtyPlayer, lastFmRecommender);
        nextTrackLoader.loadTrackFromArtist(false);
      });
      $('#next-track').on('click', function() {
        nextTrackLoader.loadTrackFromArtist(true);
      });
    }, 500);
  });